<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qiumi.app.wallet.login">

    <application
        android:name=".LoginApplication"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:name">

        <!--自动适配-->
        <meta-data
            android:name="design_width"
            android:value="375" />
        <meta-data
            android:name="design_height"
            android:value="667" />

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"/>

        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RetrieveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ManualAuditActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
